<section class=>
  <div class="">
    {% for block in section.blocks %}
      {% render 'primal-queen-block', block: block, section: section, index: forloop.index %}
    {% endfor %}
  </div>
</section>