
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593763681997751207.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593763681997751207.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593763681997751207.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593763681997751207.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593763681997751207.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593763681997751207.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593763681997751207.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593763681997751207.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593763681997751207.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593763681997751207.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593763681997751207.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593763681997751207.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593763681997751207.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-593763681997751207.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593763681997751207.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593763681997751207.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-593763681997751207.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593763681997751207.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-593763681997751207.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593763681997751207.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593763681997751207.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593763681997751207.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-593763681997751207.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593763681997751207.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-593763681997751207.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593763681997751207.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-593763681997751207.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593763681997751207.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593763681997751207.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593763681997751207.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593763681997751207.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593763681997751207.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593763681997751207.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593763681997751207.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593763681997751207.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593763681997751207.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593763681997751207.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-593763681997751207.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593763681997751207.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-593763681997751207.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-593763681997751207.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593763681997751207.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593763681997751207.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593763681997751207.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593763681997751207.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593763681997751207.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593763681997751207.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593763681997751207.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593763681997751207.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593763681997751207.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593763681997751207.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593763681997751207.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593763681997751207.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-593763681997751207.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593763681997751207.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593763681997751207.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-593763681997751207.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593763681997751207.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593763681997751207.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593763681997751207.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-593763681997751207.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593763681997751207.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593763681997751207.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-593763681997751207.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-593763681997751207.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593763681997751207.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-593763681997751207.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593763681997751207.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593763681997751207.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593763681997751207.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-593763681997751207.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593763681997751207.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593763681997751207.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593763681997751207.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593763681997751207.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-593763681997751207.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-593763681997751207 .gp-relative{position:relative}.gps-593763681997751207 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593763681997751207 .gp-mb-0{margin-bottom:0}.gps-593763681997751207 .gp-flex{display:flex}.gps-593763681997751207 .gp-inline-flex{display:inline-flex}.gps-593763681997751207 .gp-grid{display:grid}.gps-593763681997751207 .\!gp-hidden{display:none!important}.gps-593763681997751207 .gp-hidden{display:none}.gps-593763681997751207 .gp-h-full{height:100%}.gps-593763681997751207 .gp-max-w-full{max-width:100%}.gps-593763681997751207 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593763681997751207 .gp-flex-col{flex-direction:column}.gps-593763681997751207 .gp-items-center{align-items:center}.gps-593763681997751207 .gp-justify-center{justify-content:center}.gps-593763681997751207 .gp-overflow-hidden{overflow:hidden}.gps-593763681997751207 .gp-break-words{overflow-wrap:break-word}.gps-593763681997751207 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-593763681997751207 .gp-no-underline{text-decoration-line:none}.gps-593763681997751207 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593763681997751207 .gp-duration-200{transition-duration:.2s}.gps-593763681997751207 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593763681997751207 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593763681997751207 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593763681997751207 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593763681997751207 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-593763681997751207 .tablet\:\!gp-hidden{display:none!important}.gps-593763681997751207 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-593763681997751207 .mobile\:\!gp-hidden{display:none!important}.gps-593763681997751207 .mobile\:gp-hidden{display:none}}.gps-593763681997751207 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593763681997751207 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}


@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}


@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E3t-4c4A.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gkfA47ytxX"}' data-id="gkfA47ytxX" id="gkfA47ytxX" data-same-height-subgrid-container class="gkfA47ytxX gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:20px;--pb:48px;--pr:20px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:20px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXQYoPsMTu gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gFtckwoSpn"}' data-id="gFtckwoSpn" id="gFtckwoSpn" data-same-height-subgrid-container class="gFtckwoSpn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:30px;--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5naW0nqSW gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gQ7MPoLQe0"}' data-id="gQ7MPoLQe0" id="gQ7MPoLQe0" data-same-height-subgrid-container class="gQ7MPoLQe0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:0px;--pr:var(--g-s-2xl);--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="geMexueZ3u gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grlWA3HSHg"
        class="grlWA3HSHg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763440532591"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-heading, heading);--weight:600;--size:35px;--size-tablet:28px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#1E1D1D;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrlWA3HSHg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7UhuX-pra"
        class="g7UhuX-pra"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763440532592"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:400;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#1E1D1D;--tt:none;word-break:break-word;--bgc:#F3F2F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7UhuX-pra_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--ta:left" >
        <style>[data-id="g-0F8M4jCr"].gp-button-base::before, [data-id="g-0F8M4jCr-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="g-0F8M4jCr"]:hover::before, [data-id="g-0F8M4jCr-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g-0F8M4jCr" dataId="g-0F8M4jCr" data-state="idle" aria-label="<p>CLICK HERE TO CHECK THE PRICE AND AVAILABILITY 👉</p>"
          
          type="button"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--bgi:;--hvr-bgi:;--hvr-bg:#5E8E49;--bg:#5E8E49;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="g-0F8M4jCr gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:700;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg-0F8M4jCr_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--d-mobile:none"
      class="g4wZiwP2Io gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-593763681997751207 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yaakuzaa/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593763681930576807&sectionId=593763681997751207)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrlWA3HSHg_text","label":"ggrlWA3HSHg_text","default":"<strong>How To Get The Best Results For Your Feet At The Best Price Possible! (And FREE Shipping!)</strong>"},{"type":"html","id":"gg7UhuX-pra_text","label":"gg7UhuX-pra_text","default":"<p><span style=\"color:rgb(30,29,29);font-size:19px;\">Right now, the&nbsp;</span><strong>Hike Footwear Lorax Barefoot Shoes</strong><a href=\"https://try-hikefootwear.com/hike-footwear.com/products/lorax\"><strong> </strong></a><span style=\"color:rgb(30,29,29);font-size:19px;\">are ONLY available on the brand's website.</span></p><p>&nbsp;</p><p><span style=\"color:rgb(48,48,48);font-size:inherit;\">⚠️ We're offering a </span><strong>special introductory limited-time offer </strong><span style=\"color:rgb(48,48,48);font-size:inherit;\">with a massive discount of over 70% off.</span></p><p><span style=\"color:rgb(48,48,48);font-size:inherit;\">﻿</span></p><p><strong>Step 1: </strong>Order your<strong> Lorax Barefoot Shoes</strong> today to secure a 70% discount (while supplies last).</p><p>&nbsp;</p><p><strong>Step 2:</strong> Once your Hike Footwear arrives, take a couple of days to get used to these shoes.</p><p>&nbsp;</p><p><span style=\"color:rgb(48,48,48);font-size:inherit;\">Step 3:</span> Wear your<strong> Lorax Barefoot Shoes from Hike Footwear</strong><a href=\"https://try-hikefootwear.com/hike-footwear.com/products/lorax\"> </a>all day for lasting comfort, support, and an enhanced hiking experience. Enjoy every step while discomfort disappears.</p><p>&nbsp;</p><p><span style=\"color:rgb(48,48,48);font-size:inherit;\">Helpful Hint:</span> If you have an outdoor enthusiast in your life, consider giving these as a gift - the gift of comfort, support, and the freedom to explore nature to the fullest. They deserve the best gear for their hiking adventures.</p>"},{"type":"html","id":"gg-0F8M4jCr_label","label":"gg-0F8M4jCr_label","default":"<p>CLICK HERE TO CHECK THE PRICE AND AVAILABILITY 👉</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}