
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-593763681997882279.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-593763681997882279.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-593763681997882279.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-593763681997882279.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-593763681997882279.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-593763681997882279.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-593763681997882279.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-593763681997882279.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-593763681997882279.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-593763681997882279.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-593763681997882279.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-593763681997882279.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-593763681997882279.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-593763681997882279.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-593763681997882279.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-593763681997882279.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-593763681997882279.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-593763681997882279.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-593763681997882279.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-593763681997882279.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-593763681997882279.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-593763681997882279.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-593763681997882279.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-593763681997882279.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-593763681997882279.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-593763681997882279.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-593763681997882279.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-593763681997882279.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-593763681997882279.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-593763681997882279.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-593763681997882279.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-593763681997882279.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-593763681997882279.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-593763681997882279.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-593763681997882279.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-593763681997882279.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-593763681997882279.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-593763681997882279.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-593763681997882279.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-593763681997882279.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-593763681997882279.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-593763681997882279.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-593763681997882279.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-593763681997882279.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-593763681997882279.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-593763681997882279.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-593763681997882279.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-593763681997882279.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-593763681997882279.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-593763681997882279.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-593763681997882279.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-593763681997882279.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-593763681997882279.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-593763681997882279.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-593763681997882279.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-593763681997882279.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-593763681997882279.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-593763681997882279.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-593763681997882279.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-593763681997882279.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-593763681997882279.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-593763681997882279.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-593763681997882279.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-593763681997882279.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-593763681997882279.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-593763681997882279.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-593763681997882279.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-593763681997882279.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-593763681997882279.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-593763681997882279.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-593763681997882279.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-593763681997882279.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-593763681997882279.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-593763681997882279.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-593763681997882279.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-593763681997882279.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-593763681997882279.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-593763681997882279.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-593763681997882279.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-593763681997882279.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-593763681997882279.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-593763681997882279.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-593763681997882279.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-593763681997882279 .gp-relative{position:relative}.gps-593763681997882279 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-593763681997882279 .gp-mb-0{margin-bottom:0}.gps-593763681997882279 .gp-flex{display:flex}.gps-593763681997882279 .gp-inline-flex{display:inline-flex}.gps-593763681997882279 .gp-grid{display:grid}.gps-593763681997882279 .\!gp-hidden{display:none!important}.gps-593763681997882279 .gp-hidden{display:none}.gps-593763681997882279 .gp-h-full{height:100%}.gps-593763681997882279 .gp-max-w-full{max-width:100%}.gps-593763681997882279 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-593763681997882279 .gp-flex-col{flex-direction:column}.gps-593763681997882279 .gp-items-center{align-items:center}.gps-593763681997882279 .gp-justify-center{justify-content:center}.gps-593763681997882279 .gp-overflow-hidden{overflow:hidden}.gps-593763681997882279 .gp-break-words{overflow-wrap:break-word}.gps-593763681997882279 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-593763681997882279 .gp-no-underline{text-decoration-line:none}.gps-593763681997882279 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593763681997882279 .gp-duration-200{transition-duration:.2s}.gps-593763681997882279 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-593763681997882279 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-593763681997882279 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-593763681997882279 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-593763681997882279 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-593763681997882279 .tablet\:\!gp-hidden{display:none!important}.gps-593763681997882279 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-593763681997882279 .mobile\:\!gp-hidden{display:none!important}.gps-593763681997882279 .mobile\:gp-hidden{display:none}}.gps-593763681997882279 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-593763681997882279 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHpv4kjgoGqM7EPCw.ttf) format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/barlow/v13/7cHqv4kjgoGqM7E30-8c4A.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--bottom:0px;--left:0px;--pos:fixed;--right:0px;--z:999;--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"ghX3Sk1QBz"}' data-id="ghX3Sk1QBz" id="ghX3Sk1QBz" data-same-height-subgrid-container class="ghX3Sk1QBz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:0px;--pt-tablet:0px;--pb-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glWlGa3Emx gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      style="--bottom:0px;--left:0px;--pos:static;--right:0px;--top:Auto;--z:9999"
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--ml:0px;--mb:0px;--pt:15px;--pl:0px;--pb:15px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:15px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:0px;--pt-tablet:15px;--pl-tablet:0px;--pb-tablet:15px;--pr-tablet:0px;--ta:center" >
        <style>[data-id="gEUlcOPBG9"].gp-button-base::before, [data-id="gEUlcOPBG9-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      
  
    }
  
      
  [data-id="gEUlcOPBG9"]:hover::before, [data-id="gEUlcOPBG9-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gEUlcOPBG9" dataId="gEUlcOPBG9" data-state="idle" aria-label="<p>CLICK TO APPLY DISCOUNT &amp; CHECK AVAILABILITY 👉</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:4px;--bbrr:4px;--btlr:4px;--btrr:4px;--hvr-bblr:4px;--hvr-bbrr:4px;--hvr-btlr:4px;--hvr-btrr:4px;--shadow:0px 0px 4px 0.5px #97AACD;--bgi:;--hvr-bgi:;--hvr-bg:#5E8E49;--bg:#5E8E49;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:180%;--lh-mobile:180%"
          class="gEUlcOPBG9 gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Barlow, 'Barlow'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:180%;--lh-mobile:180%;--ts:0px 0px 8px #97AACD;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggEUlcOPBG9_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gEUlcOPBG9">
        button.gEUlcOPBG9 {
background-color: : #fff !important;
}
      </style>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
      <style id="custom-css-ghX3Sk1QBz">
        .gps .ghX3Sk1QBz{
    display: none !important;
}
.gps .ghX3Sk1QBz.active{
    display: block !important;
}
      </style>
    
      <script id="custom-js-ghX3Sk1QBz">
        try {
          //const currentElement = document.getElementsByClassName('ghX3Sk1QBz');
document.addEventListener('DOMContentLoaded', function() {
  function getOffset(el) {
    const rect = el.getBoundingClientRect();
    return {
      left: rect.left + window.scrollX,
      top: rect.top + window.scrollY,
      height: rect.height,
    };
  }

  var sticky = document.querySelector(".ghX3Sk1QBz");
  var start_sticky = document.querySelector(".start_sticky");

  if (!sticky || !start_sticky) return; 

  function checkScroll() {
    if (window.scrollY > getOffset(start_sticky).top + getOffset(start_sticky).height) {
      sticky.classList.add("active");
    } else {
      sticky.classList.remove("active");
    }
  }

  window.addEventListener("scroll", checkScroll);
  window.addEventListener("resize", checkScroll);
});
        } catch(err){}
      </script>
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-593763681997882279 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yaakuzaa/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=593763681930576807&sectionId=593763681997882279)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEUlcOPBG9_label","label":"ggEUlcOPBG9_label","default":"<p>CLICK TO APPLY DISCOUNT &amp; CHECK AVAILABILITY 👉</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}