
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#btn1").click(function(){
    $("#test1").text("Hello world!");
  });
  $("#btn2").click(function(){
    $("#test2").html("<b>Hello world!</b>");
  });
  $("#btn3").click(function(){
    $("#test3").val("Dolly Duck");
  });
});
</script>
<section class="Jquary-text">
<div class="jQuary-section">


<p id="test1">This is a paragraph.</p>
<p id="test2">This is another paragraph.</p>

<p>Input field: <input type="text" id="test3" value="Mickey Mouse"></p>

<button id="btn1">Set Text</button>
<button id="btn2">Set HTML</button>
<button id="btn3">Set Value</button>
</div>
</section>

{% comment %} This is my first demo {% endcomment %}
<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Paragraph changed.";
}
</script>

<h2>Demo JavaScript in Head</h2>

<p id="demo">A Paragraph.</p>

<button type="button" onclick="myFunction()">Try it</button>
<script>
document.getElementById("demo").innerHTML = "My First JavaScript";
</script>

<style>
  .Jquary-text{
  width:100%;
max-width:1500px;
margin:0 auto;
}
  </style>
{% schema %}
{
  "name": "JQuary Text",
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#fff0f6"
    },
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "Main Right Image"
    }
  ],
  "presets": [
    {
      "name": "JQuary Text",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
